/* CUSTOM PROPERTIES/VARIABLES */
:root{
    --main-white: #f0f0f0;
    --main-blue: #3333ff;
    --main-brown:  #5f5f4f;
    --main-gray: #303841;
}

/* BASE RESET */
*{
    margin: 0;
    padding: 0;
}

/* BOX-SIZING AND FONT SIZING */
*,
*::before,
*::after{
box-sizing: inherit;
}

html{
    box-sizing: border-box;
      /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media(max-width: 75em){
    html{
        font-size: 60%;
    }
}

/* 980px /16px = 61.25em */
@media(max-width: 61.25em){
    html{
        font-size: 58%;
    }
}

/* 460px /16px = 28.75em */
@media(max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

/* BASESTYLE */
body{
    font-family: 'poppins', sans-serif;
    font-size: 1.8rem; /*18px*/
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--main-gray);
    color: var(--main-white);
}

h1,
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
h1{
    font-size: 6rem;
}
h2{
    color: var(--main-gray);
    font-size: 4.2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--main-white);
}

img{
    display: block;
    width: 100%;
}


/* NAVIGATION */
.nav{ 
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-blue);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}
@media(max-width: 28.75em){
    .nav{
        justify-content: center;
    }
    .nav-list{
        margin-right: 0 1rem;
    }
}
.nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
.nav-list a:hover{
    background: var(--main-brown);
}  



/* FORM PHASE */

.container{
    width: 400px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-emphasis: none;
    margin-top: 50px;
}

h5{
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
}

.container input[type = "text"], input[type = "password"], input[type = "email"]{
    border: 0;
    background-color: var(--main-gray);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--main-blue);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: var(--main-white);
    border-radius: 24px;
}
.container input[type = "text"]:focus, input[type = "password"]:focus, input[type = "email"]:focus{
    width: 280px;
    border-color: var(--main-white);
    transition: 0.5s;
}
button, input[type = "submit"]{
    border: 0;
    background-color: var(--main-gray);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--main-white);
    padding: 14px 40px;
    outline: none;
    color: var(--main-white);
    border-radius: 24px;
    cursor: pointer;
}
button:hover{
    background: var(--main-white);
    color: var(--main-gray);
}
p{
    text-align: center;
    font-style: italic;
}

.pass{
    position: relative;
}

.pass > i{
    position: absolute;
    top: 17px;
    right: 110px;
    cursor: pointer;
}
